.tituloPrincipal{
    background-color: #c4170c;
    color: white;
    text-align: center;
    font-size: xx-large;
}

.propaganda{
    
}
.noticiasLaterais{
    color:red;
    list-style-type: none;
}